<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Beyond Spreadsheets</title>
    <link rel="stylesheet" th:href="@{/App.css}"/>

</head>

<body>
    <div class="navbar"> <!--navbar start-->
        <a href="/">Beyond Spreadsheets</a>
            <div class="dropdown">
                <span class="no-link">Loans and Debt</span>
                <div class="dropdown-content">
                    <a href="/LoansAndDebt">Create Loan/Debt Information</a>
                    <!--<a href="/LoansUpdateAmount">Update Amount Outstanding</a> -->
                </div>
            </div>
            <div class="dropdown">
                <span class="no-link">Revenue</span>
                <div class="dropdown-content">
                    <a href="/CalculateRevenueIncome">Calculate Net Income</a>
                </div>
            </div>
            <a href="/expenses">Expenses</a> <!--no dropdown for now-->
            <div class="dropdown">
                <span class="no-link">Milestones</span>
                <div class="dropdown-content">
                    <a href="/CreateMilestone">Create Milestone</a>
                </div>
            </div>
        <a href="/logout">Logout</a>
    </div> <!--navbar end-->

<h1>Welcome, <span th:text="${username}">User</span>!</h1>

<div class="main-menu-image">
    <div class="overlay-text">
        <h1>Welcome to Beyond Spreadsheets</h1>
        <p>Your Financial Management Companion</p>
    </div>
</div>

<div class="content-main">
    <h2>About Beyond Spreadsheets</h2>
    <p>Beyond Spreadsheets's mission is to provide our users the proper tools to help them  improve their financial management.</p>
    
    <h2>Loans and Debt</h2>
    <p>We understand managing your loans and debt can be challenging. Our tools and calculations can aid you in tracking those debts as well as providing visual data to provide a better understanding.</p>

    <h2>Revenue</h2>
    <p>Income is crucial when you are managing finances. With our tools, you can help keep track of income payments to help you stay ahead of your finances.</p>

    <h2>Expenses</h2>
    <p>Tracking expenses is vital for budgeting. Our platform allows you to visualize your different expenses based on the expense categories.</p>

    <h2>Milestones</h2>
    <p>Setting your own financial goals is important to reach your own wants or need, whether is saving for a house down payment or purchasing a desired item. Our Milestones tool allows you to track your progress towards your goals.</p>



</div>

<div class="footer">
    <p>&copy; 2024 Beyond Spreadsheets.</p>
</div>
</body>

</html>